[Unit]
Description=Esecuzione all'avvio e ogni notte del power scheduler

[Timer]
OnBootSec=1min
OnCalendar=*-*-* 03:00:00
Persistent=true
Unit=roomctl-power-scheduler.service

[Install]
WantedBy=timers.target